@model LoginFormViewModel
@using System
@using System.Linq
@using Stormpath.Owin.Abstractions
@using Stormpath.Owin.Abstractions.ViewModel

@{
    ViewData["Title"] = "Log In";
}

<div class="jumbotron">
    <h2 class="text-center">@ViewData["Title"]</h2>

    <div class="row">
        <div class="col-md-12">
            <form method="post" role="form" class="login-form form-horizontal">
                <input name="@StringConstants.StateTokenName" type="hidden" value="@Model.StateToken"/>

                @foreach (var field in Model.Form.Fields)
                {
                <div class="form-group row @($"group-{field.Name}")">
                    <div class="col-md-4">
                        
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">@field.Label</label>
                        <input placeholder="@field.Placeholder"
                                    name="@field.Name"
                                    type="@field.Type"
                                    value="@(Model.FormData.Get(field.Name) ?? string.Empty)"
                                    class="form-control"
                                    @(field.Required ? "required" : string.Empty)>
                    </div>
                    <div class="col-md-4">
                        
                    </div>
                </div>
                }
                <div class="form-group row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary" style="width:100%;margin-top:15px;">Log in</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="@Model.ForgotPasswordUri" class="btn btn-default" style="width:100%;margin:0 auto;margin-top:15px;">Forgot Password</a>
                            </div>
                            <div class="col-md-6">
                                <a href="@(Model.RegisterUri + "?" + @StringConstants.StateTokenName + "=" + @Model.StateToken)" class="btn btn-default" style="width:100%;margin:0 auto;margin-top:15px;">Create Account</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                    
                </div>
            </form>
            @if (Model.Errors.Any())
            {
                <div class="row ">
                    @foreach (var error in Model.Errors)
                    {
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <div class="alert alert-danger bad-login">
                                <b><span class="text-danger">@error</span></b>
                            </div>
                        </div>
                        <div class="col-md-4">
                        </div>
                        
                    }
                </div>
            }
        </div>   
    </div>

</div>
