@model IEnumerable<ISStudySpot.Models.PostInformation>

@inject Stormpath.SDK.Account.IAccount Account

@{
    foreach (var item in Model)
    {
        ViewBag.ClassNoteTitle = item.ClassNoteTitle;
        ViewBag.StudFirstName = item.StudFirstName;
        ViewBag.StudLastName = item.StudLastName;
        ViewBag.ClassNoteCreateDate = item.ClassNoteCreateDate;
        ViewBag.ClassNoteText = item.ClassNoteText;
        ViewBag.ClassNoteCommentId = item.ClassNoteCommentId;
        ViewBag.SemesterId = item.SemesterId;
        ViewBag.SemesterName = item.SemesterName;
        ViewBag.SubjectCode = item.SubjectCode;
        ViewBag.ClassId = item.ClassId;
        ViewBag.ClassNoteId = item.ClassNoteId;
    }

    ViewData["Title"] = @ViewBag.ClassNoteTitle;

    ViewBag.Email = Account.Email;
    ViewBag.GivenName = Account.GivenName;
    ViewBag.Surname = Account.Surname;
}

@if (Model != null)
{
    <div class="jumbotron">
        @{
            if (@ViewBag.Breadcrumbs == "semesters")
            {
                <ol class="breadcrumb">
                    <li><a asp-area="" asp-controller="home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="study" asp-action="Index">Semesters</a></li>
                    <li><a asp-area="" asp-controller="study" asp-action="Semesters" asp-route-id="@ViewBag.SemesterId">@ViewBag.SemesterName</a></li>
                    <li><a asp-area="" asp-controller="classes" asp-action="studyresources" asp-route-id="@ViewBag.ClassId" asp-route-name="semester-route">@ViewBag.SubjectCode</a></li>
                    <li class="active">@ViewData["Title"]</li>
                </ol>
            }
            if (@ViewBag.Breadcrumbs == "classes")
            {

                <ol class="breadcrumb">
                    <li><a asp-area="" asp-controller="home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="classes" asp-action="Index">Classes</a></li>
                    <li><a asp-area="" asp-controller="classes" asp-action="studyresources" asp-route-id="@ViewBag.ClassId" asp-route-name="class-route">@ViewBag.SubjectCode</a></li>
                    <li class="active">@ViewData["Title"]</li>
                </ol>
            }
        }

        <h2>@ViewData["Title"]</h2>
        <h5>Submitted by @ViewBag.StudFirstName @ViewBag.StudLastName - @ViewBag.ClassNoteCreateDate</h5>

        <div class="row class-note-text">
            <div class="col-md-12 well">
                <p>@ViewBag.ClassNoteText</p>
            </div>
            <div class="col-md-12">
                @if (Context.User.Identity.IsAuthenticated)
                {
                    <a asp-controller="classes" asp-action="postComment" asp-route-id="@ViewBag.ClassNoteId" asp-route-title="@ViewBag.ClassNoteTitle" asp-route-fname="@ViewBag.StudFirstName" asp-route-lname="@ViewBag.StudLastName" asp-route-cdate="@ViewBag.ClassNoteCreateDate" asp-route-text="@ViewBag.ClassNoteText">
                        <button type="button" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-comment" style="margin-right:5px;" aria-hidden="true"></span>  Comment</button>
                    </a>

                    <!--<button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#MyModal"><span class="glyphicon glyphicon-comment" style="margin-right:5px;" aria-hidden="true"></span>  Comment</button>-->
                }
                else
                {
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary pull-right" disabled><span class="glyphicon glyphicon-comment" style="margin-right:5px;" aria-hidden="true"></span>  Comment</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="pull-right" style="color:#ff4d4d;font-weight:normal;font-size:10px;"><i>You must login to comment</i></h5>
                        </div>
                    </div>
                }
                
            </div>
        </div>

        <div class="row class-note-commment-area">
            <div class="col-md-12">
                @if(@ViewBag.ClassNoteCommentId != 0)
                {
                    <h4>Comments:</h4>
                    <hr/>
                    @foreach (var item in Model)
                    {
                        <div class="row class-note-commment-text">
                            <h5>Submitted by @item.CommentorFName @item.CommentorLName - @item.ClassNoteCommentCreateDate</h5>
                            <div class="col-md-12 well">
                                <p>@item.ClassNoteCommentText</p>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>


        <!--Comment Modal-->
        <div id="MyModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-adjustments">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">@ViewBag.ClassNoteTitle</h3>
                        <h5>Submitted by @ViewBag.StudFirstName @ViewBag.StudLastName - @ViewBag.ClassNoteCreateDate</h5>
                    </div>
                    <form asp-controller="classes" asp-action="postComment" asp-route-id="@ViewBag.ClassNoteId" asp-route-username="@ViewBag.Email" asp-route-fname="@ViewBag.GivenName" asp-route-lname="@ViewBag.Surname" method="post" class="form-horizontal" role="form" id="comment-form">
                        <div class="modal-body modal-body-adjustments">
                            <div class="row class-note-text">
                                <div class="col-md-12 well">
                                    <p>@ViewBag.ClassNoteText</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 comment-area">
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <textarea class="form-control" rows="15" id="comment-area" onkeyup="formChanged()" onchange="formChanged()"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a asp-area="" asp-controller="classes" asp-action="Index">
                                <button type="submit" class="btn btn-primary">Post Comment <span class="glyphicon glyphicon-send" style="margin-left:5px;" aria-hidden="true"></span></button>
                            </a>
                        </div>
                        <script>
                            function formChanged() 
                            {
                                var comment = document.getElementById("comment-area");

                                document.getElementById("comment-form").removeAttribute("asp-route-comment");

                                document.getElementById("comment-form").setAttribute("asp-route-comment",comment);

                                console.log(comment);
                            }
                        </script>
                    </form>
                </div>
            </div>
        </div> 

    </div>
}
else
{
    <div class="jumbotron">
        <h2>@ViewData["Title"]</h2>
    </div>
}

