@model IEnumerable<ISStudySpot.Models.PostInformation>

@{
    foreach (var item in Model)
    {
        ViewBag.ClassNoteTitle = item.ClassNoteTitle;
        ViewBag.StudFirstName = item.StudFirstName;
        ViewBag.StudLastName = item.StudLastName;
        ViewBag.ClassNoteCreateDate = item.ClassNoteCreateDate;
        ViewBag.ClassNoteText = item.ClassNoteText;
    }

    ViewData["Title"] = @ViewBag.ClassNoteTitle;
}

<div class="jumbotron">
    <h2>@ViewData["Title"]</h2>
    <h5>Submitted by @ViewBag.StudFirstName @ViewBag.StudLastName - @ViewBag.ClassNoteCreateDate</h5>

    <div class="row class-note-text">
        <div class="col-md-12 well">
            <p>@ViewBag.ClassNoteText</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#MyModal">Reply</button>
        </div>
    </div>

    <div class="row class-note-commment-area">
        <div class="col-md-12">
            <h4>Comments:</h4>
            <hr/>
            @foreach (var item in Model)
            {
                <div class="row class-note-commment-text">
                    <h5>Submitted by @item.CommentorFName @item.CommentorLName - @item.ClassNoteCommentCreateDate</h5>
                    <div class="col-md-12 well">
                        <p>@item.ClassNoteCommentText</p>
                    </div>
                </div>
            }
        </div>
    </div>



    <div id="MyModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3 class="modal-title">@ViewBag.ClassNoteTitle</h3>
			</div>
			<div class="modal-body">
                <div class="row class-note-text">
                    <div class="col-md-12 well">
                        <p>@ViewBag.ClassNoteText</p>
                    </div>
                </div>
				<div class="form-group">
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                </div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</div>
	</div>
</div> 
</div>

